node_modules/
.expo/
dist/
web-build/
*.expo*

# Native build folders
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/app/.cxx/
android/app/release.keystore

# OS/IDE
.DS_Store
Thumbs.db
*.log
